<htlm>

	<head>
		
		<title> <%= title %> </title>
        <link href= "./assets/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		
		<div class ="container"> 
			<div class ="menu"> 
	            <ul>
	            	<li class="logo"> <img src="./image/sayna.jpg"> </li>
	            	<li><a href="/home">Home</a></li>
	            	<li><a href="/backend">BackEnd</a></li>
	            	<li><a href="/frontend">FrontEnd</a></li>
	            	<li><a href="/marketing">Marketing Digital</a></li>
	            	<li><a href="/uxui">UX/UI</a></li>
	            	<li><a href="/contact">Contact</a></li>
	            	<li> <a href = "/signup" class="signup-btn"> <span> Sign Up </span> </a> </li> 
	            </ul>

			</div>

			<div class = "banner" > 

				<div class="app-text"> 
						<h2> D-CLIC <br> Venez coder le serveur avec nous </h2>
						<p>Devenir spécialistes du développement web côté client, <br> ici c’est votre espace </p>
						<div class="play-btn"> 
							<div class="play-btn-inner"> 
								
							</div>
						</div>
				</div>

				<div class="app-picture-frontend" >
					<img src="./image/image_frontend.jpg">
				</div>


				<body>
		
					<div class="flip-box">
					  <div class="flip-box-inner">
						<div class="flip-box-front">
						  <h2>Avis des utilisateurs sur le frontend</h2>
						</div>
						<div class="flip-box-back">
						  <h2>Suite</h2>
						</div>
					  </div>
					</div>
					
					</body>






			</div>
		</div>

	</body>

</html>
