<htlm>

	<head>
		
		<title> <%= title %> </title>
        <link href= "./assets/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		
		<div class ="container"> 
			<div class ="menu"> 
	            <ul>
	            	<li class="logo"> <img src="./image/sayna.jpg"> </li>
	            	<li><a href="/home">Home</a></li>
	            	<li><a href="/backend">BackEnd</a></li>
	            	<li><a href="/frontend">FrontEnd</a></li>
	            	<li><a href="/marketing">Marketing Digital</a></li>
	            	<li><a href="/uxui">UX/UI</a></li>
	            	<li><a href="/contact">Contact</a></li>
	            	<li> <a href = "/signup" class="signup-btn"> <span> Sign Up </span> </a> </li> 
				</ul>

			</div>

			<div class = "banner" > 

				<div class="app-text"> 
						<h1> D-CLIC <br> Venez coder avec nous </h1>
						<p>Apprendre à coder : du plaisir pour tout le monde !  <br> Connaître le codage, ce n'est pas seulement <br> satisfaire notre curiosité.  <br> Il est probable que l'avenir de l'humanité en dépend.</p>
						<div class="play-btn"> 
							<div class="play-btn-inner"> 
								
							</div>
						</div>
				</div>

				<div class="app-picture-index" >
					<img src="./image/photo.jpg">

				</div>


				<body>
		
					<div class="flip-box">
					  <div class="flip-box-inner">
						<div class="flip-box-front">
						  <h2>Les meilleures notes des formations</h2>
						</div>
						<div class="flip-box-back">
						  <h2>Suites</h2>
						</div>
					  </div>
					</div>
					
				</body>
			</div>
		</div>

	</body>

</html>
