<htlm>

	<head>
		
        <title> <%= title %> </title>
        <link href= "./assets/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		
		<div class ="container"> 
			<div class ="menu"> 
	            <ul>
	            	<li class="logo"> <img src="./image/sayna.jpg"> </li>
					<li><a href="/home">Home</a></li>
	            	<li><a href="/backend">BackEnd</a></li>
	            	<li><a href="/frontend">FrontEnd</a></li>
	            	<li><a href="/marketing">Marketing Digital</a></li>
	            	<li><a href="/uxui">UX/UI</a></li>
	            	<li><a href="/contact">Contact</a></li>
	            	<!-- <li> <a href = "#" class="signup-btn"> <span> Sign Up </span> </a> </li> -->
	            </ul>

			</div>

			<div class = "banner" > 

				<div class="app-text"> 
						<h1> D-CLIC <br> Merci de votre venu </h1>
						<p> Bienvenu dans le monde du codage </p>
						<div class="play-btn"> 
							<div class="play-btn-inner"> 
								
							</div>
						</div>
				</div>

				<div class="app-picture" >
					<img src="./image/image_signup.jpg">

				</div>

			</div>
		</div>

	</body>

</html>
